body {
  background: lightblue;
}


.whiteSquare {
  background: white;
  height: 30px;
  width: 30px;
  color: white;
}

.blackSquare {
  background: black;
  height: 30px;
  width: 30px;
  color: black;
}

.whiteSquareXred {
  background: white;
  height: 30px;
  width: 30px;
  color: red;
  text-align: center;
}

.whiteSquareOblue {
  background: white;
  height: 30px;
  width: 30px;
  color: blue;
  text-align: center;
}

.whiteSquareXkingred {
  background: white;
  height: 30px;
  width: 30px;
  color: red;
  text-align: center;
  font-weight: bold;
}

.whiteSquareOkingblue {
  background: white;
  height: 30px;
  width: 30px;
  color: blue;
  text-align: center;
  font-weight: bold;
}

.viableSquare {
  background: lightgreen;
}
