/* **************************************
Comments General
***************************************** */

/* Styling for hoverable images based on -https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade */

.container {
  position: relative;
  text-align: center;
  width: 50%;
}

.buttonlinkimage {
  display: block;
  width: 90%;
  height: auto;
  border-radius: 2em;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 90%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  margin-left: 2em;
}

.container:hover .overlay {
  opacity: 0.9;
  border-radius: 1em;
  margin-bottom: 2em;
  margin-left: 2em;
}

.text {
  color: white;
  font-size: 1.7em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Styling for non-highlighted based on -https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade */

.container {
  position: relative;
  text-align: center;
  width: 50%;
}



.invisibleoverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 90%;
  opacity: 1;
  transition: .5s ease;
  background: transparent
  opacity: 1;
  border-radius: 1em;
  margin-bottom: 2em;
  margin-left: 2em;
}


.visibletext {
  color: white;
  font-size: 1.7em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
opacity: 1;
}

/* Styling for lower columns  */

.leftcol {
   margin-left: 2em; 
}



.rightcol {
 margin-left: 2em;
}


.callout {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    margin-bottom; 2em;
}

.maintext {
    margin-left: 2em;
    margin-right: 2em;
}


a:hover {
    font-weight: bold;
    background-color: #1779ba;
    color: white;
}

.menu li a.is-active {
    font-weight: bold;
    background-color: #1779ba;
    color: white;
}